@font-face {
    font-family: Bender;
    src: url("fonts/Bender.otf") format("opentype");
}

@font-face {
    font-family: Bender;
    font-weight: bold;
    src: url("fonts/Bender-Bold.otf") format("opentype");
}

:root {
    --background-color: #101010;
    --text-color: #b1b1b1;
    --logo-text-color: #f1f1f1;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    line-height: 1.6rem;
    color: var(--text-color);
    font-family: "Bender", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .01);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

.btn-same-size {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/* Add to main.css */
.select2-container--disabled .select2-selection {
    background-color: #2a2a2a;
    cursor: not-allowed;
}

.select2-container--disabled .select2-selection__arrow {
    display: none;
}

#craftsList .list-group-item {
    background-color: #343a40;
    color: white;
    border: 1px solid #495057;
    margin-bottom: 2px;
    padding: 0.5rem;
}

#craftsList .list-group-item:hover {
    background-color: #3d4348;
}

#craftsList .btn-danger {
    padding: 0.15rem 0.3rem;
    font-size: 0.8rem;
}

.remove-reward {
    display: none;
}

.reward-row:not(:first-child) .remove-reward {
    display: inline-block;
}

.reward-row:first-child .remove-reward {
    display: none !important;
}

/* Select2 personalizado para novos itens */
.select2-container--bootstrap-5 {
    width: 100% !important;
}

/* Garanta que os JSONs tenham scroll */
#jsonQuestOutput, #jsonLocalesOutput {
    max-height: 70vh;
    overflow-y: auto;
    background: #1a1a1a;
    padding: 15px;
    border-radius: 5px;
}

.modal-xl {
    max-width: 90%;
}

.kill-task {
    background: rgba(255, 255, 255, 0.05);
    position: relative;
}
.remove-kill-task {
    padding: 0 5px;
    line-height: 1;
}


